.top.wrapper
  .top.header
    -# = video_tag("/assets/videos/stars.mp4", autoplay: true, loop: true, muted: true, style: "width:100%;")
    .top.header__message
      あしながおじさん
    
  .top.body
    .top.body__upper
    .top.body__box
      .top.body__box__1
      .top.body__box__2
        = link_to image_tag("/assets/images/hat.png", width: '100', alt: ""), gifts_path
        億り人
      .top.body__box__3
        = link_to image_tag("/assets/images/gift.png", width: '100', alt: ""), groups_path
        願い人
      .top.body__box__4
    
  .top.footer


